#忽略编译后的文件
bin/
*.o

#忽略二进制文件
*.bin

#忽略文本类文件
*.dat
*.txt

#忽略脚本文件
*.sh

#忽略调试时的源代码
function_Pointers.c
first_using_cblas.c
hello.c
test.cpp
str_cmp.c
str_ncmp.c
B_matrix_test.cpp
boost_test.cpp
dvr.cpp
Eigen_diagonal.cpp
eigen_mdspan.cpp
error_examine.cpp
fbr.cpp
function_pointers.cpp
integral.hpp
person.cpp
qd.cpp
return_array_pointers.cpp
sales_data.cpp
Sales_item.h
Screen.cpp
constexpr_distance.cpp
test.c


#忽略vscode配置文件
.vscode/
